@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');

.workbench-font{
  font-family: "Workbench", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}

.main-title{
    margin: 0;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
}

.txt-right{
    text-align: right;
}

.txt-center{
    text-align: center;
}

.no-select{
    user-select: none;
}

.margin-auto{
    margin: auto;
}

.margin-bottom-none{
    margin-bottom: 0;
}

nav.navbar{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.litem{
    color: white;
}

li.litem:hover{
    color: aqua;
    animation: hilightToRight 2s forwards;
}

@keyframes hilightToRight {
    0% {transform: scale(1)}
    100% {transform: scale(1.2);}
}

body{
    margin: 0;
}

ul{
    padding: 10px;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}